@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap');

:root{
    --main-color : #FF9F36;
    --text-color: black;
    --navbar: #fb8c4b;
    --navbar-text: #5B4B92;
    --background-color: #FBF3F3;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}
body {
    background-color: var(--background-color);
}
.logo {
    width: 65px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-top: 6px;
    color: white;
}
header {
    background-color: var(--navbar);
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    border-radius: 0px 0px 10% 10%;
    padding: 0px 30px 0px 70px;
    /* position: fixed;
    top: 0; 
    left:0;
    right: 0;
    overflow: hidden;
    z-index: 100; */
}
nav li {
    display: inline-block;
    padding: 30px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}
/* a:hover {
    position: relative;

    padding: 5px 20px;

    border-radius: 20px;
    box-shadow: inset 0px 2px 12px rgb(165, 41, 41);
} */
a:hover {
    color: var(--navbar-text);
}
.profile{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
}
.avatar{
    width: 1010px;
    height: 330px;
    margin: 30px 15rem 5px 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 3px 1px rgba(94, 94, 94, 0.35);
    border-radius: 10px;
    }
    .avatar .name{
        font-size: 20px;
        font-weight:600;
    }
    .avatar .editBackground{
        position: relative;
        left: 22rem;
    }
    .avatar button{
        border: none;
        width: 150px;
        background-color: var(--background-color);
        padding:15px;
        border-radius: 30px;
        border: 3px solid #480948;
    }
.avatar .pic{
    border-radius: 50%;
    background-color: #cccccc;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.6);
}