*{
    box-sizing: border-box;
}
body{
    background-color: #480948;
    color: #ffffff;
}
.container{
    display: grid;
    place-items: center;
    
}
.form{
    width: 572px;
    height: 705px;
    background-color: #FF9F36;
    display: flex;
    margin: 50px;
    border-radius: 5px;
}
.form form{
    padding: 50px 50px;
}
label{
    margin: 0 30px;

}
input{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 30px;
    border-radius: 5px;
    border: none;

}