@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap');

:root{
    --main-color : #FF9F36;
    --text-color: black;
    --navbar: #fb8c4b;
    --navbar-text: #5B4B92;
    --background-color: #FBF3F3;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}
body {
    background-color: var(--background-color);
    text-align: center;
}
.logo {
    width: 65px;
    /* -webkit-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
    padding-top: 6px;
    /* filter: invert(31%) sepia(49%) saturate(612%) hue-rotate(213deg) brightness(93%) contrast(94%); */
    position: absolute;
    /* text-align: center; */
    left: 50%;
    transform: translate(-50%);}
header {
    top: 0;
    margin: 0;
    width: 100%;
    background: var(--navbar);
    float: left;
    position: fixed;
    text-decoration: none;
    z-index: 100;
    border-radius: 0px 0px 15% 15%;
}
nav {
    display: flex;
    width: 100%;
    /* height: 10%; */
    justify-content: center;
    position: relative;
    align-self: center;
}
#fix {
    margin-left: 50px;
}
nav li {
    display: inline-block;
    padding: 30px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}
a:hover {
    color: black;
}


.upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    /* height: 100vh; */
    margin-top: 16vh;
    margin-bottom: 5vh;
}

.upper-container .dream #dream {
    width: 613px;
    height: auto;
    font-size: 40px;
    line-height: 4rem;
    font-weight: regular;
    letter-spacing: 2px;
}
#buddy {
    font-family: 'Marck Script', cursive;
    color: var(--navbar);
    font-size: 45px;
}
.svgandbutton{
    width: 580px;
    display: flex;
    justify-content: center;
}
.svgandbutton img{
    transform: scale(-1,1);
    /* width: 100%; */
    padding-left: 8rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.svgandbutton input {
    /* margin: 0; */
    width: 250px;
    height: 80px;
    position: absolute;
    /* bottom: 0; */
    /* left: 3rem; */
    /* top: -81.9px; */
    border-radius: 3px;
    border: none;
    background-color:#5B4B92;
    color: var(--background-color);
    /* box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35), inset 2px 2px 3px 1px rgba(0, 0, 0, 0.25); */
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: 2.2rem;
}
.svgandbutton input:hover {
    cursor: pointer;
    box-shadow: 2px 5px 8px grey;
}
.middle-container {
    height: 50vh;
    background-color: #FF9F36;
    border-radius: 5px;
    margin-top: 0;
    display: grid;place-items: center;
}
.middle-container p {
    width: 823px;
    font-size: 40px;
    color: #FFFFFF;
}
.download-container {
    background-color: var(--background-color);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.download-container p {
    width: 615px;
    height: 105;
    margin-right: 100px;
    font-size: 40px;
    line-height: 2.7rem;
}
.download-container button {
    border: none;
    width: 350px;
    height: 90px;
    font-size: 30px;
    font-weight: bold;
    background-color: #FB7454;
    border-radius: 5px;
}
.download-container button:hover {
    box-shadow: 2px 5px 8px grey;
}
button:hover, .logo:hover {
    cursor: pointer;
}

.register-field {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.registerbox {
    padding: 30px;
    width: 700px;
    height: 900px;
    background-color:#F8A449;
    border-radius: 20px;
} 

.register-field h1 {
    color: #FBF3F3;
    font-size: 45px;
    padding-block: 10px;
    margin: 30px;
} 
.register-field h3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
    color: #5B4B92;
    font-size: 30px;
    padding-block: 5px;
}

.register-button {
    background-color: #FBF3F3;
    font-size: 35px;
    width: 545px;
    height: 65px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    color: #5B4B92;
    margin-top: 50px;
    font-weight: bold;
}
.register-field input {
    height: 60px;
    width: 540px;
    border-radius: 20px;
    outline-style: solid;
    outline-width: 5px;
    outline-color: #FBF3F3;
    -moz-outline-radius: 20px;
    border: none;
    background-color: #F8A449;
    font-size: 20px;
    color: #FBF3F3;
    padding: 30px; 
}
.register-field a {
    color: #FBF3F3;
    font-size: 20px;
    margin: 5px; 
}

#terms-conditions{
    height: 20px;
    width: 45px;
    outline: none;
    margin: 25px;    
}

.stronk img{
    width: 400px;
}
